@import '../../../config-scss/rem-calc.scss';

:host {
    form {
        display: flex;
        align-items: center;
        border-radius: rem-calc(10);
        justify-content: space-between;
        padding: rem-calc(15) rem-calc(20);
        background-color: rgba(255, 255, 255, 0.2);

        input {
            width: 95%;
            border: none;
            background: none;
            color: var(--branco);
            font-size: rem-calc(18);

            &::placeholder {
                color: var(--branco);
            }
        }
    }
}